<div class="comments">
  <% comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.default_pseudonym.name %></p>
      <p><%= comment.created_at %></p>
      <p><%= comment.body %></p>

      <div class="sub-comment-form">
        <p> Respond to <%= comment.user.default_pseudonym.name %></p>
        <%= render partial: "comments/form", locals: { commentable: comment } %>
      </div>

      <%= render partial: "comments/index", locals: { comments: comment.comments } %>
    </div>
  <% end %>
</div>
