
<div class="header">
  <h1 class="title"> The Brass Bull </h1>
  <h5 class="subtitle"> Curiously Reasonable </h5>
</div>

<% if current_user %>
  <p> Welcome, <%= current_user.email %>! </p>
  <p> <%= link_to "My posts", posts_path %> </p>
  <p> <%= link_to 'logout', destroy_user_session_path, method: :delete %> </p>
<% else %>
  <p> <%= link_to "Please Sign In", new_user_session_path %> </p>
<% end %>

<% if can? :create, Post %>
  <p> <%= link_to "Write a new post", new_post_path %> </p>
  <p> <%= link_to "My Pseudonyms", user_pseudonyms_path(user_id: current_user.id) %> </p>
<% else %>
  <p> Contact us for a publisher account </p>
<% end %>
