<div><%= @post.title %></div>

<p> By: <%= @post.pseudonym.name %> </p>

<p><%= link_to "Edit", edit_admin_post_path(@post.id) %></p>

<div><%= sanitize @post.body %></div>

<%= render partial: "comments/form", locals: { commentable: @post } %>
<%= render partial: "comments/index", locals: { comments: @post.comments } %>

