<h1> Create New Post </h1>

<%= form_for @post, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.hidden_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, id: :post_body %>
    <trix-editor input="post_body"></trix-editor>
  </div>

  <%= f.submit "Create" %>
<% end %>
